@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>*@

@{
    ViewBag.Title = "Contact";
}
<h2>Giới Thiệu</h2>


<div class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
        <div class="col-md-6">
            <img style="" src="~/trangchu_files/hinhintro.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Giới thiệu chung</h5>
                <p class="card-text" style="text-align:justify">Thực hiện Xã hội hóa Ngành Y tế , Phòng khám Đa khoa NoName là cơ sở của Công ty TNHH khám chữa bệnh Noname ra đời tháng 6/1999. Mục tiêu chăm sóc bảo vệ sức khỏe cho những thiên thần nhỏ bé tại TPHCM và các tỉnh thành lân cận. Điều quan trọng trọng ưu tiên hàng đầu của Phòng khám là đem đến cho khách hàng những dịch vụ khám bệnh điều trị, chăm sóc chu đáo, an toàn hiệu quả.Suốt chặng đường 15 năm phục vụ, Phòng khám tạo được sự tin tưởng của phụ huynh các bé.Hằng năm chúng tôi khám, chăm sóc trên 200.000 lượt trẻ từ sơ sinh đến 15 tuổi, mỗi ngày khám trung bình từ 600 – 700 bênh nhân.</p>
            </div>
        </div>
    </div>
</div>

<br />

<div class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Mục đích</h5>
                <p class="card-text" style="text-align:justify">
                    Để chăm sóc trẻ em toàn diện về phòng và chữa bệnh, Phòng khám có Phòng chích ngừa, vaccine được cung cấp từ các Cty dược uy tín. Thực hiện đầy đủ các quy chế về Vaccine: bảo quản vô trùng ,tư vấn … mỗi tháng Phòng khám chích cho khoảng 2500 bé an toàn.
                    Từ 2010 đến nay kinh tế đất nước có nhiều khó khăn, đó là thách thức cho Doanh nghiệp. Trước bối cảnh đó Phòng khám Đa khoa Noname vẫn tích cực sứ mệnh bảo vệ và chăm sóc sức khỏe cho mầm non tương lai của đất nước với sự an toàn, chất lượng và kinh tế.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <img style="" src="~/trangchu_files/7dbBVNhandan115con-khat-vaccine-Covid19.jpg" class="card-img" alt="...">

        </div>
    </div>
</div>

<br />

<div class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
        <div class="col-md-6">
            <img style="" src="~/trangchu_files/3052019-Thuoc-la-anh-1.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Quyền của bệnh nhân</h5>
                <p class="card-text" style="text-align:justify; ">

                    <ul style="line-height: 2.0;">
                        <li class="fa fa-plus">
                            Quyền được cung cấp thông tin
                        </li>
                        <li class="fa fa-plus">
                            Quyền được hưởng dịch vụ y tế hiệu quả

                        </li>
                        <li class="fa fa-plus">
                            Quyền được tham gia vào quá trình quyết định điều trị
                        </li>
                        <li class="fa fa-plus">
                            Quyền được tôn trọng

                        </li>
                    </ul>




                </p>
            </div>
        </div>
    </div>
</div>